<div class="sidebar">
  {{ if .Params.toc }}
    {{ with .TableOfContents }}
      <aside class="toc">
        <nav>
          <p class="sidebar__heading">Table Of Contents</p>
          {{ . }}
        </nav>
      </aside>
      <hr />
    {{ end }}
  {{ end }}


  <aside style="text-align: center; font-size: 1.5em;">
    <a
      href="https://donorbox.org/justin-colt-canterbury"
      target="_blank"
      rel="noopener noreferrer"
    >
      Donate
    </a>
  </aside>

  <!-- {{ $cv := index $.Site.Data.json_resume $.Site.Language.Lang }}
  {{ if $cv.basics }}
    <aside class="bio">
      {{ partial "json-resume/basics.html" . }}

      {{ if $.Site.Params.tagCloud.enable }}
        <hr />
      {{ end }}
    </aside>
  {{ end }}
   -->

  {{ if $.Site.Params.tagCloud.enable }}
    <aside>
      <!-- blue underlined heading -->
      <p class="sidebar__heading" style="color: #007acc; font-style: italic;">
        Tags
      </p>
      {{ partial "tag-cloud.html" . }}
    </aside>
  {{ end }}
</div>
